scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/myloans
        create path (nt:unstructured) /content/dam/myloans/jcr:content
        set properties on /content/dam/myloans/jcr:content
        set cq:conf{String} to /conf/myloans
        set jcr:title{String} to \"MyLoans\"
        end
        "
]
